@page "/majplayerupdates"
@using HemSoft.EggIncTracker.Data.Dtos

@attribute [StreamRendering]

<PageTitle>Recent Player Updates</PageTitle>

<MudContainer MaxWidth="MaxWidth.Large" Class="mt-4">
    <MudCard>
        <MudCardHeader>
            <MudText Typo="Typo.h5">Recent Player Updates</MudText>
        </MudCardHeader>
        <MudCardContent>
            @if (isLoading)
            {
                <div class="d-flex justify-center my-4">
                    <MudProgressCircular Color="Color.Primary" Indeterminate="true" Size="Size.Large" />
                </div>
            }
            else if (playerUpdates.Any())
            {
                <MudTable Items="@playerUpdates" Hover="true" Breakpoint="Breakpoint.Sm" Loading="@isLoading"
                    LoadingProgressColor="Color.Primary" T="MajPlayerRankingDto">
                    <HeaderContent>
                        <MudTh>Date/Time</MudTh>
                        <MudTh>Player</MudTh>
                        <MudTh>PE</MudTh>
                        <MudTh>Soul Eggs</MudTh>
                        <MudTh>SE Gained</MudTh>
                        <MudTh>EB</MudTh>
                        <MudTh>MER</MudTh>
                        <MudTh>JER</MudTh>
                    </HeaderContent>
                    <RowTemplate>
                        <MudTd DataLabel="Date/Time">
                            <MudText Typo="Typo.body2">@context.Updated.ToString("yyyy-MM-dd hh:mm tt")</MudText>
                        </MudTd>
                        <MudTd DataLabel="Player">
                            <MudText Typo="Typo.body1"><b>@context.IGN</b></MudText>
                            <MudText Typo="Typo.caption">@context.DiscordName</MudText>
                        </MudTd>
                        <MudTd DataLabel="PE">
                            <MudText Typo="Typo.body2"><b>@context.PE</b></MudText>
                        </MudTd>
                        <MudTd DataLabel="Soul Eggs">
                            <MudText Typo="Typo.body2"><b>@context.SEString</b></MudText>
                        </MudTd>
                        <MudTd DataLabel="SE Gained">
                            <MudText Typo="Typo.body2"
                                Color="@(context.SEGains != null && !context.SEGains.Contains("-") ? Color.Success : Color.Default)">
                                <b>@(context.SEGains ?? "N/A")</b>
                            </MudText>
                        </MudTd>
                        <MudTd DataLabel="EB">
                            <MudText Typo="Typo.body2"><b>@context.EBString</b></MudText>
                        </MudTd>
                        <MudTd DataLabel="MER">
                            <MudText Typo="Typo.body2"><b>@context.MER</b></MudText>
                        </MudTd>
                        <MudTd DataLabel="JER">
                            <MudText Typo="Typo.body2"><b>@context.JER</b></MudText>
                        </MudTd>
                    </RowTemplate>
                    <PagerContent>
                        <MudTablePager PageSizeOptions="new int[] { 10, 25, 50, 100 }" />
                    </PagerContent>
                </MudTable>
            }
            else
            {
                <MudAlert Severity="Severity.Info">No player updates found</MudAlert>
            }
        </MudCardContent>
    </MudCard>
</MudContainer>
